WCFServicesApp/Connected Services/WCFServices/WCFServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1111/WCFServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1111/WCFServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1111/WCFServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessObjects.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFServices_getScreen_InputMessage">
    <wsdl:part name="parameters" element="tns:getScreen" />
  </wsdl:message>
  <wsdl:message name="IWCFServices_getScreen_OutputMessage">
    <wsdl:part name="parameters" element="tns:getScreenResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFServices_getButtons_InputMessage">
    <wsdl:part name="parameters" element="tns:getButtons" />
  </wsdl:message>
  <wsdl:message name="IWCFServices_getButtons_OutputMessage">
    <wsdl:part name="parameters" element="tns:getButtonsResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFServices">
    <wsdl:operation name="getScreen">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFServices/getScreen" message="tns:IWCFServices_getScreen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFServices/getScreenResponse" message="tns:IWCFServices_getScreen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getButtons">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFServices/getButtons" message="tns:IWCFServices_getButtons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFServices/getButtonsResponse" message="tns:IWCFServices_getButtons_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFServices" type="tns:IWCFServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getScreen">
      <soap:operation soapAction="http://tempuri.org/IWCFServices/getScreen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getButtons">
      <soap:operation soapAction="http://tempuri.org/IWCFServices/getButtons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFServices">
    <wsdl:port name="BasicHttpBinding_IWCFServices" binding="tns:BasicHttpBinding_IWCFServices">
      <soap:address location="http://localhost:1111/WCFServices.svc/basic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>